<script id="books-view-all" type="text/x-handlebars-template">
	<tr class="book">
			<td class="cover-container cover-image">
				<img src="{{{cover}}}" title="{{title}} by {{author}}" alt="{{title}} by {{author}}" class="cover" />
			</td>
			<td>
				<span class="label has-been-read {{#if hasBeenRead}}checked label-success{{/if}}">READ</span>
				<span class="label own-the-book {{#if ownTheBook}}checked label-success{{/if}}">BOOK</span>
				<span class="label own-the-ebook {{#if ownTheEBook}}checked label-success{{/if}}">EBOOK</span>
			</td>
			<td>
				<span class="year">{{year}}</span>
			</td>
			<td>
				<span class="title">{{title}}</span>
			</td>
			<td>
				<span class="author">{{author}}</span>
			</td>
			<td>
				<div class="delete btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Delete</div>
				<div class="edit btn btn-primary btn-mini"><i class="icon-edit icon-white"></i> Edit</div>
			</td>
	</tr>
</script>
<script id="books-view-form" type="text/x-handlebars-template">
	<form class="well">
		<div class="book-form">
			<div class="field">
				<label>Title</label>
				<input type="text" value="{{title}}" class="title" name="title" />
			</div>
			<div class="field">
				<label>Author</label>
				<input type="text" value="{{author}}" class="author" name="author" />
			</div>
			<div class="field">
				<label>Year</label>
				<input type="text" value="{{year}}" class="year" name="year" />
			</div>
			<div class="field">
				<label>Cover</label>
				<input type="text" value="{{{cover}}}" class="cover" name="cover" />
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" {{#if hasBeenRead}}checked="checked"{{/if}} class="has-been-read" name="has-been-read" /> 
					Has been read?
				</label>
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" {{#if ownTheBook}}checked="checked"{{/if}} class="own-the-book" name="own-the-book" />
					Own the book?
				</label>
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" {{#if ownTheEBook}}checked="checked"{{/if}} class="own-the-ebook" name="own-the-ebook" />
					Own the eBook?
				</label>
			</div>
			<div class="save btn btn-primary">Save</div>
		</div>
	</form>
</script>