<script id="navigation-widget-item" type="text/x-handlebars-template">
	<li class="navigation-item"><a href="#">{{name}}</a></li>
	<li class="divider-vertical"></li>
</script>
<script id="navigation-widget-item-add" type="text/x-handlebars-template">
	<li class="divider-vertical"></li>
	<li class="navigation-item"><a href="#"><i class="icon-plus-sign icon-white"></i> {{name}}</a></li>
</script>
<script id="navigation-widget-item-quick-add" type="text/x-handlebars-template">
	<li class="divider-vertical"></li>
	<li class="navigation-item"><a href="#"><i class="icon-star icon-white"></i> {{name}}</a></li>
</script>