<script id="status-widget-message-success" type="text/x-handlebars-template">
  <div class="alert alert-success">
    <button class="close" data-dismiss="alert">×</button>
    <div class="widget-message success-message"><i class="icon-ok"></i> {{message}}</div>
  </div>
</script>
<script id="status-widget-message-standard" type="text/x-handlebars-template">
  <div class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    <div class="widget-message standard-message"><i class="icon-flag"></i> {{message}}</div>
  </div>
</script>
<script id="status-widget-message-error" type="text/x-handlebars-template">
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    <div class="widget-message error-message"><i class="icon-warning-sign"></i> {{message}}</div>
  </div>
</script>
