<script id="status-widget-message-success" type="text/x-handlebars-template">
	<div class="alert alert-success">
		<button class="close" data-dismiss="alert">×</button>
		<div class="widget-message success-message">{{message}}</div>
	</div>
</script>
<script id="status-widget-message-standard" type="text/x-handlebars-template">
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">×</button>
		<div class="widget-message standard-message">{{message}}</div>
	</div>
</script>
<script id="status-widget-message-error" type="text/x-handlebars-template">
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">×</button>
		<div class="widget-message error-message">{{message}}</div>
	</div>
</script>