body {
	padding-top:50px;
}
div.page-container {
	margin-left:10px;
	margin-right:10px;
}
.cover-container {
	display:none;
}
.modal-backdrop {
	opacity:0.2;
}
#status {
	position:absolute;
	bottom:0px;
	right:0px;
	width:300px;
	margin-right:15px;
}
.loading {
	height:64px;
	background:url("../img/loading.gif") no-repeat center center;
}