body {
	padding-top:50px;
}
div.page-container {
	margin-left:10px;
	margin-right:10px;
}
.cover-container {
	display:none;
	background:#fafafa;
	font-style:italic;
}
.cover-container img.cover {
	width:100%;
	border:0;
}
.book .properties {
	text-align:right;
	margin-bottom:10px;
}
.book .content {
	position:relative;
}
.book .actions {
	position:absolute;
	bottom:0;
	right:0;
}