<script id="books-view-all" type="text/x-handlebars-template">
	<div class="book">
		<div class="title">{{title}}</div>
		<div class="author">{{author}}</div>
	</div>
</script>
<script id="books-view-form" type="text/x-handlebars-template">
	<div class="book">
		<div class="title">Title: <input type="text" value="{{title}}" class="book-title" name="book-title" /></div>
		<div class="author">Author: <input type="text" value="{{author}}" class="book-author" name="book-author" /></div>
		<div class="save">Save</div>
	</div>
</script>