<script id="books-view-all" type="text/x-handlebars-template">
	<div class="book">
		<div class="title">{{title}}</div>
		<div class="author">{{author}}</div>
		<div class="year">{{year}}</div>
		<div class="cover"><img src="{{cover}}" title="{{title}} by {{author}}" alt="{{title}} by {{author}}" class="cover" /></div>
		<div class="properties">
			<div class="has-been-read {{#if hasBeenRead}}checked{{/if}}">READ</div>
			<div class="own-the-book {{#if ownTheBook}}checked{{/if}}">BOOK</div>
			<div class="own-the-ebook {{#if ownTheEBook}}checked{{/if}}">EBOOK</div>
		</div>
	</div>
</script>
<script id="books-view-form" type="text/x-handlebars-template">
	<div class="book-form">
		<div class="field">Title: <input type="text" value="{{title}}" class="title" name="title" /></div>
		<div class="field">Author: <input type="text" value="{{author}}" class="author" name="author" /></div>
		<div class="field">Year: <input type="text" value="{{author}}" class="year" name="year" /></div>
		<div class="field">Cover: <input type="text" value="{{cover}}" class="cover" name="cover" /></div>
		<div class="field">Has been read? <input type="checkbox" value="{{hasBeenRead}}" class="has-been-read" name="has-been-read" /></div>
		<div class="field">Own the book? <input type="checkbox" value="{{ownTheBook}}" class="own-the-book" name="own-the-book" /></div>
		<div class="field">Own the eBook? <input type="checkbox" value="{{hasBeenRead}}" class="own-the-ebook" name="own-the-ebook" /></div>
		<div class="save">Save</div>
	</div>
</script>